<p-toast></p-toast>
<ngx-spinner type="ball-scale-multiple"></ngx-spinner>
<br>

<div class="container bootdey">
  <div class="col-md-12">
    <div class="portlet light bordered">
      <div class="portlet-title tabbable-line">
        <div class="caption caption-md">
          <i class="icon-globe theme-font hide"></i>
          <span class="caption-subject font-blue-madison bold uppercase">Bài tập</span>
        </div>
      </div>
      <div class="portlet-body">
        <label (click)="openTabCreate()" class="btn btn-dark m-2 rounded-0" style="float: right" *ngIf="currentRole == 'ROLE_TEACHER'">
          Thêm bài tập
        </label>
        <table class="table">
          <tbody *ngIf="collectPDF.length > 0">
          <tr *ngFor="let pdf of collectPDF" class="active">
            <th style="background: #c3f1c3" scope="row"><img width="30px" src="https://cdn-icons-png.flaticon.com/512/1430/1430896.png"/></th>
            <td style="background: #c3f1c3; padding-top: 13px">{{pdf.name}}</td>
            <td style="background: #c3f1c3; padding-top: 13px;cursor: pointer;text-align: right;"><a href="{{pdf.blob}}" style="color: black" target="_blank"><i class="bi bi-eye" ></i></a></td>
            <td style="background: #c3f1c3; padding-top: 13px;cursor: pointer"><i class="bi bi-x-lg" (click)="remove(pdf.name)"></i></td>
          </tr>

          </tbody>

          <tbody *ngIf="currentAssignments.length > 0">
          <tr *ngFor="let pdf of currentAssignments" class="active">
            <th scope="row"><img width="30px" src="https://cdn-icons-png.flaticon.com/512/1430/1430896.png"/></th>
            <td style=" padding-top: 13px">{{pdf.title}}</td>
            <td style=" padding-top: 13px">{{pdf.duration}} phút</td>
            <td style=" padding-top: 13px">{{pdf.startTime| date: 'dd/MM/yyyy'}} - {{pdf.endTime| date: 'dd/MM/yyyy'}}</td>
            <td style=" padding-top: 13px;cursor: pointer;text-align: center" (click)="openTabDo(pdf.id)">
              <button class="btn btn-success rounded-0">Làm</button>
            </td>
          </tr>
          <!--            <iframe *ngFor="let url of currentPDFFiles" [src]="getSafeUrl(url)" width="100%" height="100px"></iframe>-->

          </tbody>
        </table>
      </div>
    </div>

  </div>
</div>
