<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
  <div class="row">
    <div class="profile-info col-md-9">

      <div class="panel">
        <div class="panel-body bio-graph-info">
          <div class="row">
            <div class="bio-row">
              <p><span>Chuyên ngành </span>: {{user.className}}</p>
            </div>
            <div class="bio-row">
              <p><span>Email </span>: {{user.email}}</p>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
