  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<p-toast></p-toast>
<div class="" style="background: white">
  <div class="row">
    <div class="col-md-12">
      <div >
        <!-- begin profile -->
        <div class="profile">
          <div class="profile-header">
            <div class="row profile-header-content d-flex align-content-center align-items-center">
              <div class="col-md-12 col-sm-12 mb-3">
                <div class="profile-header-img" style="margin-right: 20px;position: relative">
                  <img
                    src="{{user.avatar}}"
                    alt="">
                </div>
                <div class="profile-header-info decor-text-1 m-lg-4 " style="margin-left: 20px">
                  <h4 class="m-t-0 m-b-1">{{user?.fullname}}</h4>
                  <p class=" text-secondary" *ngIf="currentRole == 'ROLE_USER'">Sinh viên</p>
                  <p class=" text-secondary" *ngIf="currentRole == 'ROLE_ADMIN'">Quản trị viên</p>
                  <p class=" text-secondary" *ngIf="currentRole == 'ROLE_TEACHER'">Giảng viên</p>
                  <div class="d-flex position-relative">
                    <button class="Btn decor-text-1 position-absolute" style="right: 20px;top:0;cursor: pointer" (click)="logout()">

                      <div class="sign"><svg viewBox="0 0 512 512"><path d="M377.9 105.9L500.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L377.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1-128 0c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM160 96L96 96c-17.7 0-32 14.3-32 32l0 256c0 17.7 14.3 32 32 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-64 0c-53 0-96-43-96-96L0 128C0 75 43 32 96 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32z"></path></svg></div>

                      <div class="text">Đăng xuất</div>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          <div>
            <ul class="profile-header-tab nav nav-tabs decor-text">
            </ul>
            <ul class="profile-header-tab nav nav-tabs decor-text" style="cursor: pointer">
              <li class="nav-item">
                <a routerLink="thong-tin-khac" [ngClass]="{ active: selectedTab === 'infors' }" (click)="selectTab('infors')" routerLinkActive="active" class="nav-link_">
                  Thông tin
                </a></li>
              <li class="nav-item">
                <a routerLink="hanh-dong" [ngClass]="{ active: selectedTab === 'actions' }" (click)="selectTab('actions')" routerLinkActive="active" class="nav-link_">
                  Hoạt động
                </a></li>
              <li class="nav-item">
                <a routerLink="cai-dat" [ngClass]="{ active: selectedTab === 'settings' }" (click)="selectTab('settings')" routerLinkActive="active" class="nav-link_">
                  Cài đặt
                </a></li>
            </ul>
          </div>
          </div>

        </div>

      </div>
    </div>

  </div>
</div>
<router-outlet></router-outlet>
