<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="row mb-3" style="padding-top: 30px">
        <div class="col-md-3">
          <label for="filterTenHocPhan" class="form-label">Lớp</label>
          <select id="filterTenHocPhan" class="form-select" [(ngModel)]="className" (change)="filterListUsers()">
            <option value="Công nghệ thông tin">-- Công nghệ thông tin --</option>
            <option value = "An toàn thông tin">An toàn thông tin</option>
            <option value = "Điện tử viễn thông">Điện tử viễn thông</option>
          </select>
        </div>
      </div>
      <div class="main-box clearfix">
        <div class="table-responsive">
          <table class="table user-list">
            <thead>
            <tr>
              <th><span>Sinh viên</span></th>
              <th><span>Ngày tạo tài khoản</span></th>
              <th><span>Email</span></th>
              <th class="text-center"><span>Trạng thái</span></th>
              <th class="text-center"><span>Chức năng</span></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let u of users">
              <td>
                <img src="{{u.avatar}}" alt="">
                <p class="user-link m-0">{{u.fullname}}</p>
                <span class="user-subhead">{{u.roleName}}</span>
              </td>
              <td class="t">
                {{u.created | date: 'dd/MM/yyyy'}}
              </td>
              <td class="text-left">
                <span class="label label-default">{{u.email}}</span>
              </td>
              <td class="text-center">
                <p>Active</p>
              </td>
              <td style="width: 20%; text-align: center">
                <i style="cursor: pointer; font-size: 15px; color: #a75d54" class="bi bi-eye"></i>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
<!--        <ul class="pagination pull-right">-->
<!--          <li><a href="#"><i class="fa fa-chevron-left"></i></a></li>-->
<!--          <li><a href="#">1</a></li>-->
<!--          <li><a href="#">2</a></li>-->
<!--          <li><a href="#">3</a></li>-->
<!--          <li><a href="#">4</a></li>-->
<!--          <li><a href="#">5</a></li>-->
<!--          <li><a href="#"><i class="fa fa-chevron-right"></i></a></li>-->
<!--        </ul>-->
      </div>
    </div>
  </div>
</div>
