img {
  height: 180px;
  width: 100%;
  object-fit: cover;
}

div [class^="col-"] {
  padding-left: 5px;
  padding-right: 5px;
}

.card {
  transition: 0.3s;
  cursor: pointer;
}

.card-title {
  font-size: 15px;
  transition: 1s;
  cursor: pointer;
}

.card-title i {
  font-size: 15px;
  transition: 1s;
  cursor: pointer;
  color: #ffa710
}

.card-title i:hover {
  transform: scale(1.05) rotate(100deg);
  color: #18d4ca;

}

.card:hover {
  transform: scale(1.05);
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}

.card-text {
  height: 80px;
}

.card::before, .card::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: scale3d(0, 0, 1);
  transition: transform .3s ease-out 0s;
  background: rgba(255, 255, 255, 0.1);
  content: '';
  pointer-events: none;
}

.card::before {
  transform-origin: left top;
}

.card::after {
  transform-origin: right bottom;
}

.card:hover::before, .card:hover::after, .card:focus::before, .card:focus::after {
  transform: scale3d(1, 1, 1);
}

.panel-heading {
  border-bottom: 1px dotted rgba(0, 0, 0, 0.2);
  padding: 15px;
  text-transform: uppercase;
  color: #535351;
  font-size: 14px;
  font-weight: bold;
}

.tools a:hover {
  background: #65cea7;
  color: #fff;
}

.tools a {
  background: #E3E4E8;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  color: #858582;
  float: left;
  margin-left: 3px;
  padding: 10px;
  text-decoration: none;
}

ul.goal-progress {
  list-style-type: none;
  padding: 0;
}

ul.goal-progress li {
  display: inline-block;
  width: 100%;
  border-bottom: 1px dashed #dcdcdc;
  margin-bottom: 15px;
  padding-bottom: 15px;
}

ul.goal-progress li .prog-avatar {
  width: 40px;
  height: 40px;
  float: left;
  margin-right: 25px;
}

ul.goal-progress li .prog-avatar img {
  width: 100%;
  border-radius: 50%;
  -webkit-border-radius: 50%;
}

.progress-bar {
  box-shadow: none;
  line-height: 15px;
  text-align: right;
  padding-right: 10px;
  font-size: 11px;
}
