<div class="container mt-2">
<h5 style="text-align: center; padding: 10px">DANH SÁCH HỌC PHẦN HIỆN TẠI</h5>
  <div class="row">
    <div class="col-md-3 col-sm-6" *ngFor="let c of courses">
      <div class="card card-block" style="padding: 15px">
        <img src="{{c.banner}}"
             alt="Photo of sunset">
        <h5 class="card-title mt-3">{{c.course.name}}</h5>
        <small style="opacity: 1; font-size: 11px;">{{c.startTime | date: 'dd/MM/yyyy'}} - {{c.startTime | date: 'dd/MM/yyyy'}}</small>
        <small style="opacity: .5; font-size: 11px; margin-top: 8px">Số tín chỉ: {{c.course.credits}}</small>

        <hr>
        <div class="card-text">
          <span style="font-size: 10px">Tiến độ: <span style="color: green">50%</span></span>
          <div class="progress">
            <div class="progress-bar bg-success" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <button (click)="navigate(c.enrollId, c.userId)" class="btn btn-success mt-3 rounded-1" style="float: right;padding: 4px 10px 2px 10px; font-size: 12px; background: transparent; color: green">Chi tiết <i class="bi bi-arrow-right-short"></i></button>
        </div>

      </div>
    </div>

  </div>
</div>
