@import "https://fonts.googleapis.com/css?family=Open+Sans:300,400";
body,
.badgescard,
.firstinfo {
  display: flex;
  align-items: center;
}

html {
  height: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  background: #00bcd4;
  font-size: 16px;
  overflow: hidden;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.content {
  position: relative;
  animation: animatop 0.3s cubic-bezier(0.425, 1.14, 0.47, 1.125) forwards;
}

.card {
  padding: 20px;
  border-radius: 3px;
  background-color: white;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
}


.badgescard {
  padding: 10px 20px;
  border-radius: 3px;
  background-color: #00bcd4;
  color:#fff;
  width: 480px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  position: absolute;
  z-index: -1;
  right: 10px;
  bottom: 10px;
  animation: animainfos 0.15s cubic-bezier(0.425, 1.04, 0.47, 1.105) 0.15s forwards;
}

.badgescard span {
  font-size: 1.6em;
  margin: 0px 6px;
  opacity: 0.6;
}

.firstinfo {
  flex-direction: row;
  z-index: 2;
  position: relative;
}

.firstinfo img {
  border-radius: 50%;
  width: 120px;
  height: 120px;
}

.firstinfo .profileinfo {
  padding: 0px 20px;
}

.firstinfo .profileinfo h1 {
  font-size: 1.8em;
}

.firstinfo .profileinfo h3 {
  font-size: 1.2em;
  color: #00bcd4;
  font-style: italic;
}

.firstinfo .profileinfo p.bio {
  padding: 10px 0px;
  color: #5A5A5A;
  line-height: 1.2;
  font-style: initial;
}

@keyframes animatop {
  0% {
    opacity: 0;
    bottom: -500px;
  }
  100% {
    opacity: 1;
    bottom: 0px;
  }
}

@keyframes animainfos {
  0% {
    bottom: 10px;
  }
  100% {
    bottom: -42px;
  }
}

@keyframes rotatemagic {
  0% {
    opacity: 0;
    transform: rotate(0deg);
    top: -24px;
    left: -253px;
  }
  100% {
    transform: rotate(-30deg);
    top: -24px;
    left: -78px;
  }
}
body{margin-top:20px;
  background:#eee;
}
.card {
  box-shadow: 0 20px 27px 0 rgb(0 0 0 / 5%);
}
.avatar.sm {
  width: 2.25rem;
  height: 2.25rem;
  font-size: .818125rem;
}
.table-nowrap .table td, .table-nowrap .table th {
  white-space: nowrap;
}
.table>:not(caption)>*>* {
  padding: 0.75rem 1.25rem;
  border-bottom-width: 1px;
}
table th {
  font-weight: 600;
  background-color: #eeecfd !important;
}
/* CSS cho custom popup */
.custom-popup {
  z-index: 1000;
  min-width: 200px;
}

.popup-content {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.popup-overlay {
  background: transparent;
}

.position-relative {
  position: relative ! important;
}
