

/* Main content */
.main-content {
  padding: 1.5rem;
  background-color: #f5f7fa;
  width: 100%
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}


//.card {
//  background-color: #ffffff;
//  padding: 1rem;
//  border-radius: 12px;
//  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
//}

.calendar-box {
  background-color: #f5f7fa;
  padding: 1rem;
  border-radius: 12px;
}
.calendar {
  padding: 0;
  margin: 10px 0;
  margin-top: 40px
}
h3{
  padding: 0;
  margin: 0;
}
