
  <main class="main-content">
    <section class="calendar">
      <h3  style="background-color: #f5f7fa;">Lịch học</h3>
      <div class="calendar-box">
        <p>📅 Thứ 2: Toán cao cấp</p>
        <p>📅 Thứ 5: Thi lập trình C++</p>
      </div>
    </section>
<!--    <header class="header">-->
<!--      <div class="greeting">Chào bạn</div>-->
<!--      <div class="date"></div>-->
<!--    </header>-->

    <div class=" row g-2">
      <div class="col-lg-4 col-md-3 col-sm-6">
        <div class="card h-100 p-3 shadow-sm">
          <strong>📘 Kỳ học hiện tại</strong><br />4 môn đang học
        </div>
      </div>
      <div class="col-lg-4 col-md-3 col-sm-6">
        <div class="card h-100 p-3 shadow-sm">
          <strong>⏰ Bài tập</strong><br />2 bài sắp đến hạn
        </div>
      </div>
      <div class="col-lg-4 col-md-3 col-sm-6">
        <div class="card h-100 p-3 shadow-sm">
          <strong>🗓️ Lịch</strong><br />1 bài thi hôm nay
        </div>
      </div>

    </div>
  </main>

